# URL base da API do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://api.pedromarcio.site

# Chave Anon (Pública / Cliente)
NEXT_PUBLIC_SUPABASE_ANON_KEY=anon_key

# Chave Service Role (Privada / Servidor / Backend)
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

# Optional App & AI Variables
GEMINI_API_KEY=sua_gemini_api_key_aqui
APP_URL=http://localhost:3000

# Adobe
VITE_ADOBE_CLIENT_ID=seu_adobe_client_id_aqui
VITE_ADOBE_CLIENT_SECRET=sua_chave_aqui
VITE_ADOBE_REDIRECT_URI=http://localhost:3000/adobe/callback