# Supabase Configuration
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-anon-key-aqui

# Optional App & AI Variables
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"

# Adobe
VITE_ADOBE_CLIENT_ID="p8e-7SRVdN55FenCSkb7pucBFqUkPrD6pzI7"
VITE_ADOBE_CLIENT_SECRET="sua_chave_aqui"
VITE_ADOBE_REDIRECT_URI="https://izylumna.vercel.app/adobe/callback"
